{% extends 'learning_logs/base.html' %}
{% block content %}
  <div class="p-3 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-4">
      {% if user.is_authenticated %}
        <h1 class="display-3">Welcome {{ user.username }}.</h1>
      {% else %}
        <h1 class="display-3">Track your Learning</h1>
      {% endif %}
      <p class="lead">
        Make your own Learning Log, and keep a list of the
        topics you're learning about. Whenever you learn something new
        about a topic, make an entry summarizing what you've learned.
      </p>
      {% if user.is_authenticated %}
        <a class="btn btn-primary btn-lg mt-1"
           href="{% url 'learning_logs:topics' %}">Topics &raquo;</a>
      {% else %}
        <a class="btn btn-primary btn-lg mt-1 me-3"
           href="{% url 'accounts:register' %}">Register &raquo;</a>
        <a class="btn btn-secondary btn-lg mt-1"
           href="{% url 'accounts:login' %}">Log In &raquo;</a>
      {% endif %}
    </div>
  </div>
{% endblock content %}
