{% extends 'learning_logs/base_card.html' %}
{% block card_header %}
  <h2 class="h5 my-1">Topics ({{ topics.count }})</h2>
  <a class="btn btn-success" href="{% url 'learning_logs:new_topic' %}">Add a New Topic</a>
{% endblock card_header %}
{% block card_content %}
  {% for topic in topics %}
    <div class="list-group-item">
      <div class="d-flex gap-2 flex-wrap justify-content-between align-items-center">
        <div>
          <a class="text-break" href="{% url 'learning_logs:topic' topic.id %}">{{ topic.text }} ({{ topic.entry_set.count }})</a>
        </div>
        <div>
          <a href="{% url 'learning_logs:edit_topic' topic.id %}"
             class="btn btn-outline-primary btn-sm me-2">Edit Topic</a>
          <a href="{% url 'learning_logs:delete_topic' topic.id %}"
             class="btn btn-outline-danger btn-sm">Delete Topic</a>
        </div>
      </div>
    </div>
  {% empty %}
    <div class="list-group-item">
      <p class="mb-0 text-center">No topics have been added yet.</p>
    </div>
  {% endfor %}
{% endblock card_content %}
